TURSO_DB_URL=libsql://blogs-akifzahin.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODM5NTgwNzcsImlkIjoiMDE5ZjVjMWMtYjgwMS03ZTE3LTg1OTUtYjJmOGNlOGM3YzkxIiwia2lkIjoiT2RQLWJ5MVgxSTliaU52RDRYa25qV2FsMFBFc2ZlVWpXSGxCN0dYbmRwMCIsInJpZCI6ImY4YjcwMmRkLTNkODYtNDdkNi05Mjc5LWE0NDM3YzdiYjZkZCJ9.sKz8AUHRbsqEMaXetn7pIjZYT_glPmXZShc3dEIAAKlXUUhJiHEhTaURYXAk7f6rnB7tJw6TSTtDF19tQ0BpBw
SESSION_SECRET=9W2ZTm57jPwfWDU1t31xenls8G5Mx4OFMhIuK8y65bc=
ADMIN_PASSWORD=FuckLove123
BLOB_STORE_ID="store_P7OCjpn3zrrhLZu8"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_P7OCjpn3zrrhLZu8_wcMoK6J1LS16kj2NU5AUzipiC7iyAN"